@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: #f7fafd;
  height: 100vh;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #382314;
  display: flex;
  align-items: center;
  justify-content: center;
}
*:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.8rem rgba(226, 154, 19, 0.5); */
}
h1 {
  margin-bottom: 4rem;
  font-size: 3.2rem;
}
.container {
  max-width: 40rem;
  background-color: #dda15e;
  padding: 4rem;
  border-radius: 0.25rem;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 8rem;
  min-height: 8rem;
  border: 2px solid #588157;
  border-radius: 50%;
  margin: 0 auto;
}
.number {
  font-size: 2rem;
  align-self: center;
}
.btn {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}
button {
  margin-top: 4rem;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.add {
  background-color: #588157;
  color: #f7fafd;
}
.subtract {
  background-color: #e56b6f;
  color: #f7fafd;
}
.reset {
  background-color: #4cc9f0;
  color: #f7fafd;
}

.num-color {
  color: #382314;
}
